<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css" >

        <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.css" >

        <link rel="stylesheet" href="../css/font-awesome/fonts/fontawesome-webfont.ttf" >

        <link rel="stylesheet" href="../css/app.css">

        <title>تواجّد</title>
    </head>
    <body>

        <header>

            <div class="tel-food">

                <div id="nav-icon1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
                <ul>
                    <li><a href="">الرئيسية</a></li>
                    <li><a href="">نبذة عنا</a></li>
                    <li><a href="">الباقات</a></li>
                    <li><a href="">تواصل معنا</a></li>
                    <li> <a href="http://164.90.180.108/auth/login">تسجيل </a></li>
                  
                </ul>
            </div>

            <nav class="container navbar">

                <div class="logo">
                    <!-- <h4>DUSSR</h4> -->
                    <img src="../images/T1[1].png" alt="">
                </div>

                <div class="big-screen-menu">
                    <ul>
                        <li><a class="active" href="">الرئيسية</a></li>
                        <li><a href="">نبذة عنا</a></li>
                        <li><a href="">الباقات</a></li>
                        <li><a href="">تواصل معنا</a></li>
                        <li><a href="http://164.90.180.108/auth/login">تسجيل</a></li>
                       
                    </ul>
                </div>

                <div class="icons-menu">
                    <a href="http://164.90.180.108/auth/login"><span class="en" >EN</span></a>
                    <a href="https://api.whatsapp.com/send?phone=966582906777"><span><i class="fa fa-whatsapp"></i></span></a>
                    <!-- <a href=""><span><i class="fa fa-facebook"></i></span></a> -->
                    <a href="https://twitter.com/DussrSolutions"><span><i class="fa fa-twitter"></i></span></a>
                    <!-- <a href=""><span><i class="fa fa-linkedin"></i></span></a> -->
                 
                </div>
                
                <div class="icons-menu-button">
                    <div id="nav-icon2">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

            </nav>
        </header>

        <main>

            <div class="main-background">
                <div class="container">

                    <div class="details-text">
                        <h2 >
                            تطبيق تواجّد 
                            <br> 
                        </h2>
    
                        <p>
                            نظام حضور ذكي يوفر للشركات وللمؤسسات وكذلك المراكز التجارية حلاً شاملاً ودقيقًا للموظفين بتسجيل الحضور والانصراف من خلال استخدام هواتفهم الخاصه وذلك عن طريق تطبيق تواجّد ، بالإضافة إلى ذلك، يمكن للمدراء الاطلاع على التقارير الخاصة بحضور الموظفين
                        </p>

                        <!-- <button type="button" class="btn btn-outline-secondary">تواصل معنا</button> -->
                        <!-- <button type="button" class="btn btn-outline-secondary">الباقات</button> -->

                    </div>
        
                </div>
            </div> 

            

            <div class="cleaer"></div>

          <!-- <div class="container food-categories"> -->
                

                <!-- <div class="card-deck cards-cnt"> -->
                    <!-- <div class="card"> -->

                        <!-- <div class="label-icon-of-categories"> -->
                            <!-- <span>2</span> -->
                        <!-- </div>

                        <div class="card-body card-body-edit">
                            <h5 class="card-title">باقة فضية</h5>
                            <p class="card-text">وهي تصميم موقع وتطوير تطبيقات حسب الرغبة</p>
                            <button type="button" class="btn btn-outline-secondary">اشتراك</button>
                        </div>
                    </div>
                    <div class="card">

                        <div class="label-icon-of-categories">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>

                        <div class="card-body card-body-edit">
                            <h5 class="card-title">باقة ذهبية</h5>
                            <p class="card-text">وهي تصميم موقع وتطوير تطبيقات حسب الرغبة بالإضافة إلى استضافة دومين</p>
                            <button type="button" class="btn btn-outline-secondary">اشتراك</button>
                        </div>
                    </div>
                    <div class="card">

                        <div class="label-icon-of-categories">
                            <i class="fa fa-diamond" aria-hidden="true"></i>
                        </div>
                        
                        <div class="card-body card-body-edit">
                            <h5 class="card-title">باقة ماسية</h5>
                            <p class="card-text">وهي تصميم موقع وتطوير تطبيقات حسب الرغبة بالإضافة إلى عمل سيرفر خاص واستضافة دومين وإدارة المشروع من تحديثات  وإضافات لمدة ست أشهر</p>
                            <button type="button" class="btn btn-outline-secondary">اشتراك</button>
                        </div>
                    </div>
                </div>

            </div> -->

            <div class="supporters">

                <div class="container">

                    <h1>
                        شركائنا
                    </h1>
    
                    <div class="card-deck cards-cnt">

                         <div class="card">

                            <div class="img-card-cnt">
                                <img class="card-img-top" src="../images/logo1.jpeg" alt="Card image cap">
                            </div>     

                        </div> 

                         <div class="card">

                            <div class="img-card-cnt">
                                <img class="card-img-top" src="../images/logo1.jpeg" alt="Card image cap">
                            </div>     

                        </div> 

                         <div class="card">
                            <div class="img-card-cnt">
                                <img class="card-img-top" src="../images/logo1.jpeg" alt="Card image cap">
                            </div>
                        </div> 

                         <div class="card">

                            <div class="img-card-cnt">
                                <img class="card-img-top" src="../images/logo1.jpeg" alt="Card image cap">
                            </div> 
                            
                        </div>
                        <div class="card">

                            <div class="img-card-cnt">
                                <img class="card-img-top" src="../images/logo1.jpeg" alt="Card image cap">
                            </div> 
                            
                        </div>
                    </div>

                </div>

            </div>

            
        </main>

        <footer>

            <!-- <div class="container"> -->

                <!-- <div class="row"> -->

                    <!-- <div class="col-lg-4 footer-contact-space" > -->


                        <!-- <div class="row"> -->

                            <!-- <div class="col-lg-2 contact-icon"> -->
                                <!-- <div> -->
                                    <!-- <i class="fa fa-whatsapp"></i>
                                </div>
                            </div> -->
                            <!-- <div class="col-lg-10">
                                <h4 class="footer-categories">تواصل معنا</h4>
                                <div class="propos-text">يرجى التواصل معنا من خلال الواتساب</div>
                            </div>
                            
                        </div> -->

                    <!-- </div>

                    <div class="col-lg-4 footer-menu-space">


                        <div class="row">

                            <div class="col-lg-2 contact-icon">
                                <div>
                                    <i class="fa fa-phone"></i>
                                </div>
                            </div> -->

                            <!-- <div class="col-lg-10">
                                <h4 class="footer-categories">رقم الجوال</h4>
                                <div class="propos-text">+966 549 976 777</div>
                            </div>
                            
                        </div>

                    </div> -->

                    <!-- <div class="col-lg-4 footer-deriner-aliments-space">
                        
                        <div class="row">

                            <div class="col-lg-2 contact-icon">
                                <div>
                                    <i class="fa fa-at"></i>
                                </div>
                            </div> -->

                            <!-- <div class="col-lg-10">
                                <h4 class="footer-categories">البريد الإلكتروني</h4>
                                <div class="propos-text">eng.abdulwahab7@mail.com</div>
                            </div>
                            
                        </div>

                    </div>

                </div> -->

            <!-- </div> -->

            <hr>

            <div class="footer-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>جميع الحقوق محفوظة &copy; 2021 </p>
                            
                        </div>
                    </div>
                </div>
            </div>

        </footer>

        <script src="../js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
